h1{
    text-align: center;
    color: rgb(211, 211, 211);
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin: auto;
    background-color: rgb(41, 41, 41);
    font-family: cursive;
    font-style: oblique;
}
.model img{
padding: 10px;
width: 150px;
height: auto;
border-radius: 20px;
float: left;
}
.model p{
    margin: 12px;
    margin-bottom: 10px;
    margin-left: 165px;
    font-size: 17px;
    font-family: 'Segoe UI';
    color: rgb(255, 255, 255);
    max-width: 75%;
}
.model .link{
    padding-left: 15px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(76, 162, 196);
}
span{
    font-size: 13px;
    color: rgb(187, 187, 187);
    font-family: 'Segoe UI';
}
#contenedor{
    width: 70%;
    height: auto;
    margin: auto;
    overflow: hidden;
}
div{
    margin-top: 10px;
    display: block;
    clear: left;
    padding-bottom: 30px;
}
body{
    background-size: 113%;
    background-position:center;
}
footer{
    width: 69.3%;
    margin: auto;
    background-color: rgb(5, 5, 5);
    color: #949494;
    text-align: center;
    font-size: 10px;
    font-family:sans-serif;
    padding: 5px;
    clear: both;
}